@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.none {
    color:  hsl(212, 45%, 89%) hsl(220, 15%, 55%) 
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.card {
    width: 300px;
    height: 450px;
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}
.img-container {
    width: 300px;
    height: 290px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    padding: 10px 20px 50px 20px;
}
article > h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 12px;
}
article p {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}